* {
    font-family: monospace;
    background-color: #ffebcd;
    user-select: none;
}

#timer {
    text-align: center;
    margin-top: 40vh;
    font-size: 50px;
}

#settings {
    position: absolute;
    left: 20px;
    bottom: 0;
    cursor: pointer;
}

#solves {
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
